* {
    padding: 0px;
    margin: 0px;
}

h1,
h2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.fundo {
    height: 100vh;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    border-radius: 3px;
    margin: 1px;
}

.button:hover {
    color: black;
    background-color: white;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    transition: background-image 0.5s ease-in-out;
    background-attachment: fixed;
}


#result {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    overflow: hidden;
}

img:hover {
    background-image: url(/imagem/FundoWin11.jpg);

}

.buttonlegal {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

.buttonlegal:hover {
    background-color: #0056b3;
}